In [9]:
# All Quilt notebooks are initialized with a
# connection to quiltdata.com named 'qlt'
# Check out the complete Python API here:
# https://github.com/quiltdata/python-api

# You can use the connection to search for tables
results = qlt.search('Giants')
for t in results:
    print(t)

[0027] Giants July

In [12]:
giants_attendance = results[0]
giants_attendance.sqlname

'giants_july_a1931962'

In [11]:
# Pull table data into a dataframe with df()
df = giants_attendance.df()
df

        date_000 result_001 attendance_002
qrid
1     2015-07-01      L 5-6         19,341
2     2015-07-02      L 4-5         32,598
3     2015-07-03      L 1-2         41,693
4     2015-07-04      L 3-9         40,029
5     2015-07-05      L 1-3         33,157
6     2015-07-06      L 0-3         42,247
7     2015-07-07      W 3-0         42,164
8     2015-07-08      L 1-4         41,914
9     2015-07-10     W 15-2         41,895
10    2015-07-11      W 8-5         41,980
11    2015-07-12      W 4-2         42,387
12    2015-07-17      W 6-5         26,922
13    2015-07-18      W 8-4         37,609
14    2015-07-19      W 2-1         27,173
15    2015-07-20      L 2-4         35,033
16    2015-07-21      W 9-3         35,596
17    2015-07-22      W 7-1         38,435
18    2015-07-24      W 9-3         42,128
19    2015-07-25      W 2-1         42,162
20    2015-07-26      W 4-3         42,034
21    2015-07-27      W 4-2         41,988
22    2015-07-28      L 2-5         42,743
23    2015-07-29      W 5-0         42,352
24    2015-07-31      L 3-6