Quilt R Notebooks come with a pre-initialized PostgresSQL connection
to your data sets on quiltdata.com called 'qlt'. Find the database name for tables on Quilt in the "Connect" tab.

In [5]:
res <- dbGetQuery(qlt, "select * from giants_july_a1931962")

In [3]:
res

   qrid    ain_000 tra_001 admin_region_no_002 common_area_ky_003
1     1 2004001003      16                  02                  0
2     2 2004001004      16                  02                  0
3     3 2004001005      16                  02                  0
4     4 2004001008      16                  02                  0
5     5 2004001009      16                  02                  0
6     6 2004001010      16                  02                  0
7     7 2004001011      16                  02                  0
8     8 2004001012      16                  02                  0
9     9 2004001013      16                  02                  0
10   10 2004001014      16                  02                  0
   yr_sold_to_state_004 recording_date_005 land_value_006 improvement_value_007
1                     0           20090529         432000                183000
2                     0           20091029         314475                217167
3                     0           20001207         132853                195295
4                     0           19790702         108993                188384
5                     0           19840619         118763                178238
6                     0           19790320         105300                178150
7                     0           20130507         104015                146612
8                     0           20090716         387186                230377
9                     0           20130927         175583                262630
10                    0           20120120         271621                232116
   gpp_ky_008 ⋯ ld_line1_044 ld_line2_045 ld_line3_046 ld_line4_047
1             ⋯
2             ⋯
3             ⋯
4             ⋯
5             ⋯
6             ⋯
7             ⋯
8             ⋯
9             ⋯
10            ⋯
   ld_line_5_048 zoning_code_049 use_cde_050 effective_yr_051 yr_built_052
1                          LARE9        0101             1973         1973
2                          LARE9        0101             1973         1973
3                          LARE9        0100             1973         1973
4                         LARE11        0101             1978         1978
5                         LARE11        0101             1978         1978
6                         LARE11        0101             1978         1978
7                         LARE11        0100             1978         1978
8                         LARE11        0100             1978         1978
9                         LARE11        0100             1978         1978
10                        LARE11        0100             1978         1978
   built_sq_ft_main_053
1                  2090
2                  2479
3                  2057
4                  2423
5                  2226
6                  2423
7                  2423
8                  2226
9                  2351
10                 2423